*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    line-height: 1.6;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(34, 21, 6);
    width: 100%;
}

.logo {
    color: rgb(255, 232, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    gap: 10px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-left: 20px;
    margin-top: 10px;
}

.nav-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 232, 150);
    color: rgb(34, 21, 6);
    height: 40px;
    width: 80px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}

.nav-links a:hover{
    color: white;
    background-color: rgb(34, 21, 6);
}

/* hero */

.hero{
    background:url("https://static.vecteezy.com/system/resources/previews/024/958/821/non_2x/realistic-chocolate-dripping-isolated-object-transparent-background-ai-generated-free-png.png");
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 232, 150);
    text-align: center;
}

.hero-content h1 {
    margin-top: 30vh;

}

.hero-content p{
    font-size: 30px;
    margin-bottom: 30px;
}

.hero-content img{
    width: 100%;
    height: 100%;
}

.hero button{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background: rgb(26, 16, 3);
    color:rgb(255, 232, 150) ;
    border-radius: 50px;
}

.hero button:hover{
    background-color:white;
    color: rgb(26, 16, 3);
    font-weight: bolder;
}

.services{
    padding: 50px 20px;
    background: rgb(26, 16, 3);
    color:rgb(255, 232, 150) ;
    
}

.our-services h2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.our-services p{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px; 
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card {
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 232, 150);
    border-radius: 50px;
    color: rgb(26, 16, 3);
    padding: 15px 30px;
}

/* about */
.about{
    display: flex;
    padding: 50px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 232, 150);
    
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 30vh;

    
}

.about img{
    width: 80vh;
    border-radius: 10px;
}

.about-text h2{
    margin-bottom: 20px;
    font-size: 50px;
}

.about-text p {
    font-size: 20px;
}

/* footer */
.footer{
    background: rgb(26, 16, 3);
    align-items: center;
    color:rgb(255, 232, 150) ;   
}

.footer p {
    text-align: center;
    padding: 15px 30px;
    font-size: 15px;
}

.socials {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    padding: 15px 30px;
    cursor: pointer;
}

.socials i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 232, 150);
    color: rgb(26, 16, 3);
    border-radius: 50px;
    height: 40px;
    width: 50px;
}

.socials i:hover {
    background-color: rgb(26, 16, 3);
    color: rgb(255, 232, 150);    
}